version: '3.8'

services:
  ollama:
    image: ollama/ollama
    ports:
      - "8000:8000"
    volumes:
      - ollama_data:/root/.ollama

  app:
    depends_on:
      - ollama
    env_file: .env
    build:
      context: .
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    environment:
      - OLLAMA_HOST=http://ollama:8000/v1

volumes:
  ollama_data:
